<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for AddAttribute</h1>

<f:flashMessages />

<table  class="tx_relax5addinfo" >
	<tr>
		<th><f:translate key="tx_relax5addinfo_domain_model_addattribute.foreign_uid" /></th>
		<th><f:translate key="tx_relax5addinfo_domain_model_addattribute.value" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{addAttributes}" as="addAttribute">
		<tr>
			<td><f:link.action action="show" arguments="{addAttribute : addAttribute}"> {addAttribute.foreignUid}</f:link.action></td>
			<td><f:link.action action="show" arguments="{addAttribute : addAttribute}"> {addAttribute.value}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{addAttribute : addAttribute}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{addAttribute : addAttribute}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:uri.action 
  action="list"
  pageType="111200"
  pluginName="Ajax"
>
  AjaxTest
</f:uri.action>

<f:link.action action="new">New AddAttribute</f:link.action>
</f:section>
</html>